/* 
 *  For all browsers.
 */

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/*
 *   For preventing adjustments of font size after 
 *   orientation changes in IE and iOS.
 *   ==============================================
 */

html {
    font-family: "Roboto", sans-serif;
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
}

/*
 *  display: -webkit-flex as an alternative 
 *  for display: flex for Safari.
 *  ===============================================
 */


#art-gallery,
footer {
    -webkit-flex: flex;
    display: flex;
}

/*
 *    layout responsive
 *    =================
 */

html, 
body {
     margin: 0;
     padding: 0;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #717600;
    width: 100%;
    background: #fafafa;
    width: 100%;
    z-index: -1;
}

h1 {
    font: 400 70px "Monoton", cursive;
    margin: 0.7em 0;   
}

h2 {
    margin: 1em 0 0.25em 0;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fafafa;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=reset],
input[type=number] {
    width: 6em;
}

/* 
 *   Colors: #717600 //green olive color;   
 *           #f5f5f5  #fafafa //white;   
 *           #b3b3b3 // gray; 
 *           #0a4759 //blue;
 *           #800080 // plum color;
 *           #f5f5dc // beige   
 */

.writeArea {
    margin-bottom: 30px
}

#screenShot {
    background-color: #8b8b7a;
    cursor: none;  
}

#myButton-action {
    background-color: #717600;
    cursor: pointer;
}

#screenShot,
#myButton-action {
    font: 400 0.8em "Roboto", sans-serif;    
    text-align: center;    
    padding: 5px;
    width: 230px;
    height: 50px;
    color: #fafafa;
    border: 4px;
    border-radius: 4px;
    margin: 20px auto;   
}

#myButton-action:hover {
    background-color: #717600;
    color: #fafafa;
    box-shadow: 0 4px 15px 7px rgba(0, 0, 0, 0.2);    
}

#colorCode {
    color: #800080;     
}

.text-area {
    margin-bottom: 22px;     
}

#art-gallery {
    max-width: 100%;
    border-top: 2px solid #717600;     
    padding-top: 20px;  
    margin-bottom: 80px;     
}

.col {
    width: 25%;
    vertical-align: middle;        
}

/* 
 *  Images with Thumbnail effect.
 *  =============================  
 */

.responsive {   
    border: 1px solid #fafafa; 
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
    padding: 30px;
    vertical-align: middle;
    width: 200px;
    max-width: 100%;
}

img:hover { 
    background-color: #0a4759;
}

.nameCanvas {
    font-size: 15px;
    margin: 20px 0;   
}

a {
    color: #717600;
    outline:none;
}

a:hover{
    color: #fafafa;
    text-decoration: none;
}
    
/*
 *  footer: I add "-webkit-justify-content: center" 
 *  as an alternative for the propertie justify-content
 *  for Safari 6.1 (and newer).
 *         
 */

footer {
    font: 400 15px "Open Sans", sans-serif;
    position: fixed;
    width: 100%;      
    color: #fafafa; 
    left: 0;
    bottom: 0;
    background-color: #717600; /*url("../img/pixel.jpg");*/
    padding: 10px 5px;
    text-align: center;   
    vertical-align: middle;
    justify-content: center;
    -webkit-justify-content: center;
}

footer p {
    color: #fafafa;
    padding-top: 10px;
    margin: 0;
}

footer a {
    color: #fafafa;
}

/*
 *  Logo got with a pixel canvas.
 *  =============================
 * 
 */

.logo {
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    vertical-align: middle;
    margin: 5px;
    }

/*
 *  @Description: drawer styles.
 *  ============================
 *
 */
      
.drawer {
    top: 0;
    left: 0; 
    width: 0;     
    height: 100%;
    color: #fafafa;
    z-index: 2;
    display: block;
    text-align: center;
    transition:  0.5s;
    overflow-x: hidden; 
    position: fixed;                                     
    background-color: #fffff0;
    padding-top: 40px;
}
      
nav a {
    outline: none;              
    color: #717600;
    display: block;
}

nav p {        
    font-size: 0.9em;
    color: #717600;
}

.imageDrawer {
    width: 100px;
    max-width: 100%;
    vertical-align: middle;             
}
   
#closeDrawer {
    transition: 0.5s;
    top: 0;  
    right: 25px;
    position: absolute;      
    font: 400 30px "Monoton", cursive;
    color: #717600;
    cursor: pointer;     
}

#openDrawer {
    transition: margin-left  0.5s;
    font-size: 30px;
    cursor: pointer;      
}

.textDrawer { 
    margin: 0 0 30px 0;
    font: 400 50px "Monoton", cursive;
    color: #717600;
}

.open {
    margin-top: 10px;
}
      

/* 
 *  For devices with big screen I hide the drawer.
 *  ============================================== 
 *
 */

@media screen and (min-width: 600px){
    #closeDrawer,
    #drawer,
    .open {
        position: absolute;
        margin-top: -9999px;
        margin-left: -9999px;
    }
}

/* 
 *  For devices with small screen  I hide the Art Gallery.
 *  ======================================================
 *
 */

@media screen and (max-width: 500px){    
    h1 {
        font: 400 40px 'Monoton', sans-serif;
        padding: 0 5px;
    }

    #screenShot {
        padding: 10px;
        font-family:'Roboto', sans-serif;
    }
}

@media screen and (max-width: 600px){       
    #art-gallery,
    h1:last-of-type,
    hr {
        position: absolute;
        margin-top: -900px;
        margin-left: -900px;
    }
        
    #deleteText {
        margin-bottom: 80px;
    }
 
    input[type=submit] {
        margin-top: 22px;
    }

    #sizePicker,
       footer p {
       font-size: 0.9em; 
    }
}

@media screen and (min-width: 501px) and (max-width: 700px){
    h1 {
        font-size: 62px;
    }

    #screenShot{
        padding: 10px;
   }
}

@media screen and (min-width: 601px) and (max-width: 899px){     
    .responsive {
        box-shadow: none;
    }
}


 
